.pin {
width: 250px;
height: 300px;
border-radius: 50px;
border: 10px solid red;
background-color: aqua;
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: cover;
position: fixed;
overflow: hidden;
}